.mascotas {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(125px, 175px));
    column-gap: 1em;
}

.button {
    margin-top: 1.5em;
}

h1 {
    margin-bottom: .25em;
}

.busqueda {
    margin-bottom: 1.5em;
}

.busqueda_inputs {
    display: flex;
    gap: 1em;
}

.busqueda_inputs input, select {
    margin: .5em 0 0 .5em;
	border: none;
	border-bottom: 1px solid #d1d1d1;
}

.busqueda_titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
