<div>
  <h1 class="h1-delineado">Campañas</h1>
  <div class="campania-actual" *ngIf="campaniaActual">
    <h2>Campaña actual</h2>
    <app-perfil-campania [campania]="campaniaActual" (onDeleteCampania)="deleteCampania(campaniaActual)"
      (onSelectCampania)="selectCampania(campaniaActual)"></app-perfil-campania>
  </div>
  <div class="busqueda">
    <div class="busqueda_titulo">
      <h2 for="search">Buscar</h2>
      <button [routerLink]="'/campanias/formCampanias/-1'" *ngIf="isLogged && isAdmin" class="button button-green">
        Agregar Campaña </button>
    </div>
    <div class="busqueda_inputs">
      <div>
        <label for="search">Titulo:</label>
        <input type="text" name="busquedaTitulo" [(ngModel)]="busquedaTitulo">
      </div>
    </div>
  </div>
  <div class="campanias">
    <h2>Campañas creadas no seleccionadas</h2>
    <app-perfil-campania *ngFor="let campania of campanias | filterCampania: busquedaTitulo" [campania]="campania"
      (onDeleteCampania)="deleteCampania(campania)" (onSelectCampania)="selectCampania(campania)"></app-perfil-campania>
  </div>
</div>