.campanias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 2em;
  padding-bottom: 1rem;
  padding-top: 1rem;
  inline-size: fit-content;
}

.button {
  margin-top: 1.5em;
}


.busqueda {
  margin-bottom: 1.5em;
}

.busqueda_inputs {
  display: flex;
  gap: 1em;
}

.busqueda_inputs input {
  margin: .5em 0 0 .5em;
  border: none;
  border-bottom: 1px solid #d1d1d1;
}

.busqueda_titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}