<div class="adopcion">
    <h1>{{adopcion.titulo}} </h1>
    <p>{{adopcion.descripcion}}</p>
    <div class="mascota_informacion">
        <h1>{{adopcion.mascota.nombre + " - " + adopcion.mascota.edad + " años"}} </h1>
        <h2>{{adopcion.mascota.raza}}</h2>
        <p>{{"Color: " + adopcion.mascota.color}}</p>
        <p>{{"Tamaño: " + adopcion.mascota.tamano}}</p>
        <p>{{"Sexo: " + adopcion.mascota.sexo}}</p>
    </div>
    <div style="display: flex;">
        <button *ngIf="!isCreator() && !adopcion.finalizada && !this.isLogged" class="button button-green" [routerLink]="['/adopciones/formAdoptar', adopcion.id]" value="mascotas">Adoptar</button>
        <button *ngIf="!isCreator() && !adopcion.finalizada && this.isLogged" class="button button-green" (click)="onAdoptarRegistrado(adopcion.usuario_id)" value="mascotas">Adoptar</button>
        <button *ngIf="isCreator() && !adopcion.finalizada" [routerLink]="['/adopciones/formAdopcion', adopcion.id]" class="button button-blue"
            value="editar">Editar</button>
        <button *ngIf="isCreator() && !adopcion.finalizada" (click)="onDelete(adopcion)" class="button button-red" value="borrar">Borrar</button>
    </div>
</div>