<h1 class="h1-delineado">{{this.edit ? 'Editar' : 'Agregar'}} Turno </h1>
<div class="centrar">
    <form *ngIf="true" [formGroup]="form">
        <h1>Cargue los datos</h1>
        <div *ngIf="!this.edit" class="form-column">
            <div class="form-control">
                <label for="mascota">Mascota:</label>
                <select type="text" name="mascota" placeholder="Elija mascota" formControlName="mascota_id">
                    <option *ngFor="let mascota of mascotas" [value]="mascota.id">{{mascota.nombre}}</option>
                </select>
                <div *ngIf="Mascota?.errors && Mascota?.touched" class="error">
                    <p *ngIf="Mascota?.hasError('required')">
                        La mascota es requerida
                    </p>
                </div>
            </div>
        </div>
        <div class="form-column">
            <div class="form-control">
                <label for="horario">Horario:</label>
                <select type="text" name="horario" placeholder="Elija horario" formControlName="horario">
                    <option value="Mañana">Mañana</option>
                    <option value="Tarde">Tarde</option>
                </select>
                <div *ngIf="Horario?.errors && Horario?.touched" class="error">
                    <p *ngIf="Horario?.hasError('required')">
                        El horario es requerido
                    </p>
                </div>
            </div>
            <div class="form-control">
                <label for="motivo">Motivo:</label>
                <input type="text" name="motivo" placeholder="Agregar motivo" formControlName="motivo">
                <div *ngIf="Motivo?.errors && Motivo?.touched" class="error">
                    <p *ngIf="Motivo?.hasError('required')">
                        El motivo es requerido
                    </p>
                </div>
            </div>
            <div *ngIf="!this.edit" class="form-control">
                <label for="fecha">Fecha:</label>
                <input type="date" name="fecha" placeholder="Agregar fecha" formControlName="fecha">
                <div *ngIf="Fecha?.errors && Fecha?.touched" class="error">
                    <p *ngIf="Fecha?.hasError('required')">
                        La edad es requerida
                    </p>
                </div>
            </div>
        </div>
        <div class="form-buttons">
            <input *ngIf="!this.edit" class="button button-green" type="submit" value="Agregar" (click)="onAdd()">
            <input *ngIf="this.edit" class="button button-green" type="submit" value="Editar" (click)="onEdit()">
            <input [routerLink]="'/turnos'" class="button button-red" type="submit" value="Cancelar">
        </div>
    </form>
</div>