.veterinaria {
    border-bottom: 1px solid #d1d1d1;
    padding: 1em 0;
    margin: 0 1em;
    box-sizing: border-box;
  }
  
  .button {
    font-size: 1em;
    padding: .25em .5em;
  }
  
  h1 {
    font-weight: 300;
    font-size: 1.75rem;
    margin-bottom: 4px;
  }
  
  h1 .borrar {
    margin-left: 0.25em;
    font-size: 1.25rem;
    color: red;
    cursor: pointer;
  }
  
  .veterinaria p {
    margin-bottom: 2px;
    font-size: 17px;
  }