footer {
    margin: 4em 0 2em 0;
    position: absolute;
    bottom: 0;
    left: calc(50% - 150px);
}

footer p {
    display: flex;
    justify-content: center;
}

footer p i{
    align-self: center;
    margin-left: 0.5em;
    font-size: 1.3rem;
}