h1 {
    margin-bottom: .5em;
    padding-bottom: .15em;
    border-bottom: 2px solid #F1965B;
}
.anuncios {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(125px, 175px));
    column-gap: 1em;
}