h1 {
    margin-bottom: .5em;
    padding-bottom: .15em;
    border-bottom: 2px solid #F1965B;
}

.anuncios{
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(125px, 175px));
  column-gap: 1em;
  align-items: center;
  justify-content: flex-start;
}

.anuncio {
    width: 300px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    background-color: #ffffff;
}
  
.anuncio img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 4px;
}
  
.anuncio h2 {
  margin-top: 0;
  font-weight: 700;
  font-size: 1.75rem;
  margin-bottom: .25em;
}
  
.anuncio p {
  margin: 5px 0;
  font-size: 14px;
}
  
.anuncio p:first-of-type {
  font-weight: bold;
}
  
.anuncio p:last-of-type {
  margin-bottom: 0;
}