<div class="anuncio">
    <h1>{{anuncio.nombre}} </h1>
    <p>Servicio: {{ anuncio.servicio }}</p>
    <p>Zona: {{ anuncio.zona }}</p>
    <p>Disponibilidad: {{ anuncio.disponibilidad }}</p>
    <p><i class='bx bx-mail-send' ></i> {{anuncio.email}}</p>
    <div style="display: flex;">
        <button [routerLink]="['/anuncios/formAnuncios', anuncio.id]" class="button button-blue" value="editar">Editar</button>
        <button (click)="onDelete(anuncio)" class="button button-red" value="borrar">Borrar</button>
    </div>
</div>