<h1 class="h1-delineado">{{this.edit ? 'Editar' : 'Agregar'}} Cruza </h1>
<div class="centrar">
    <form *ngIf="true" [formGroup]="form">
        <h1>Cargue los datos</h1>
        <div class="form-column">
            <div *ngIf="!this.edit" class="form-control">
                <label for="mascota">Seleccione mascota para cruza:</label>
                <select type="text" name="mascota" placeholder="Elija mascota" formControlName="mascota_id">
                    <option *ngFor="let mascota of mascotas" [value]="mascota.id">{{mascota.nombre}}</option>
                </select>
                <div *ngIf="Mascota?.errors && Mascota?.touched" class="error">
                    <p *ngIf="Mascota?.hasError('required')">
                        La mascota es requerida
                    </p>
                </div>
            </div>
            <div class="form-control">
                <label for="fechaCelo">Fecha de celo:</label>
                <input type="date" name="fechaCelo" placeholder="Agregar fecha" formControlName="fechaCelo">
                <div *ngIf="FechaCelo?.errors && FechaCelo?.touched" class="error">
                    <p *ngIf="FechaCelo?.hasError('required')">
                        La fecha de celo es requerida
                    </p>
                </div>
            </div>
        </div>
        <div class="form-buttons">
            <input *ngIf="!this.edit" class="button button-green" type="submit" value="Agregar" (click)="onAdd()">
            <input *ngIf="this.edit" class="button button-green" type="submit" value="Editar" (click)="onEdit()">
            <input [routerLink]="'/cruza'" class="button button-red" type="submit" value="Cancelar">
        </div>
    </form>
</div>
