<section class="home">
	<div style="position: relative;">
		<img src="../../../assets/img/gatito.jpg" alt="">
		<div class="container_image">
			<h1 class="title">Bienvenido a nuestra Clínica Veterinaria</h1>
			<p class="subtitle">Estamos aquí para cuidar de tus <b class="container_word">mascotas</b>, <br> con <b
					class="container_word">amor</b> y <b class="container_word">profesionalismo</b>.</p>
			<div class="container_quote">
				<i><q>¡La veterinaria que cambió todo para mis mascotas! No te miento,
						pensé que era solo otra clínica más, pero ¡vaya sorpresa!
						Desde la primera visita, los doctores y el equipo me trataron como si fuera de la familia
					</q></i>
				<div class="image"></div>
			</div>
			<div class="container_button">
				<button class="button button-green"><a href="#visitanos">Visitanos!</a></button>
			</div>
		</div>
	</div>
	<app-campania-actual></app-campania-actual>
	<app-servivios></app-servivios>
	<app-perros-encontrados></app-perros-encontrados>
	<app-mapa id="visitanos"></app-mapa>
</section>