<section class="home">
    <div class="container">
      <h1 class="title">Bienvenido a nuestra Clínica Veterinaria</h1>
      <p class="subtitle">Cuidamos de tus mascotas con amor y profesionalismo.</p>
  
      <div class="features">
        <div class="feature">
          <i class="fas fa-heart"></i>
          <h2 class="feature-title">Cuidado integral de mascotas</h2>
          <p class="feature-description">Brindamos servicios veterinarios completos para mantener a tus mascotas saludables.</p>
        </div>
  
        <div class="feature">
          <i class="fas fa-user-md"></i>
          <h2 class="feature-title">Equipo médico especializado</h2>
          <p class="feature-description">Contamos con un equipo de veterinarios altamente capacitados y comprometidos con el bienestar animal.</p>
        </div>
  
        <div class="feature">
          <i class="fas fa-calendar-check"></i>
          <h2 class="feature-title">Citas y seguimiento online</h2>
          <p class="feature-description">Ofrecemos la comodidad de agendar citas y realizar seguimientos online para un mejor cuidado de tu mascota.</p>
        </div>
      </div>
    </div>
  </section>