.home {
		background-color: #f5f5f5;
		padding: 0 0 50px 0;
		border-radius: 10px;
	}
	
	.home img {
		width: 100%;
		border-radius: 10px 10px 0 0;
	}

	.container_image {
		position: absolute;
		border-radius: 10px 10px 0 0;
		top: 0;
		right: 0;
		width: 50%;
		height: 100%;
		z-index: 999;
		text-align: center;
		background-color: rgba(0, 0, 0, 0.025);
	}

	.container_image .image {
		background-image: url(../../../assets/img/happy_people.jpg);
		width: 250px;
		height: 80px;
		border-radius: 50%;
		background-position: center;
		background-size: cover;
	}

	.container_image button {
		text-align: right;
	}

	.container_word {
		color: #F1965B;
		background: rgb(248, 248, 248);
		padding: .1em .25em;
		border-radius: .25em;
	}

	.container_quote {
		text-align: right;
		display: flex;
		margin: 3em 1.5em 0 auto;
		align-items: center;
		gap: 1.5em;
		width: 70%;
		color: rgb(81, 76, 76);
	}

	.container_quote q {
		font-family: 'Mulish', sans-serif;
		line-height: 1.5;
		font-weight: 600;
		text-align: left;
		font-size: 1.05rem;
	}

	.container_image h1 {
		font-size: 4em;
		/*margin: 3em 0 .5em 0;*/
		padding: 80px 20px 20px 20px;
		color: #75B5C7;
		font-weight: 1000;
	}

	.container_image p {
		line-height: 2;
		font-size: 1.5rem;
		margin-bottom: 1em;
	}

	.container_button {
		text-align:right;
		margin: 2em 7em 0 0;
	}

	