.perdidos {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(125px, 175px));
    gap: 1em;
    flex-wrap: wrap;
    padding-bottom: 1rem;
  }
  
  .button {
    margin-top: 1.5em;
  }
  
  .busqueda {
    margin-bottom: 1.5em;
  }
  
  .busqueda_inputs {
    display: inline-block;
    gap: 1em;
  }
  
  .busqueda_inputs input {
    margin: .5em 0 0 .5em;
    border: none;
    border-bottom: 1px solid #d1d1d1;
  }
  
  .busqueda_nombre {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }