<div>
    <h1 class="h1-delineado">Usuarios</h1>
    <div class="busqueda">
        <div class="busqueda_titulo">
            <h2 for="search">Busqueda</h2>
            <button [routerLink]="'/usuarios/formUsuarios/-1'" class="button button-green" > Agregar usuario </button>
        </div>
        <div class="busqueda_inputs">
            <div>
                <label for="search">Apellido:</label>
                <input 
                    type="text"  
                    name="busquedaApellido"
                    [(ngModel)]="busquedaApellido"
                >
            </div>
            <div>
                <label for="search">DNI:</label>
                <input 
                    type="text"  
                    name="busquedaDNI"
                    [(ngModel)]="busquedaDNI"
                >
            </div>
            <div>
                <label for="search">Email:</label>
                <input 
                    type="text"  
                    name="busquedaEmail"
                    [(ngModel)]="busquedaEmail"
                >
            </div>
        </div>
    </div>
    <div class="usuarios">
        <app-perfil-usuario
            *ngFor="let usuario of usuarios | filterUsuario: busquedaApellido:busquedaDNI:busquedaEmail" 
            [usuario] = "usuario"
        ></app-perfil-usuario>
    </div>
</div>
