<div class="campania">
    <h1>{{campania.titulo}} </h1>
    <p>{{ campania.descripcion }}</p>
    <div style="display: flex;">
        <button [routerLink]="['/campanias/formCampanias', campania.id]" *ngIf="isLogged && isAdmin" class="button button-blue" value="editar">Editar</button>
        <button (click)="onDelete(campania)" *ngIf="isLogged && isAdmin" class="button button-red" value="borrar">Borrar</button>
        <button *ngIf="!this.isAdmin && this.isLogged" class="button button-green" [routerLink]="'/'">Donar</button>
        <button *ngIf="!this.isAdmin && !this.isLogged" class="button button-green" [routerLink]="'/'">Donar</button>
    </div>
</div>