<div class="usuario">
    <h1>{{mascota.nombre + " - " + mascota.edad + " años"}}  </h1>
    <h2>{{mascota.raza}}</h2>
    <p>{{"Color: " + mascota.color}}</p>
    <p>{{"Tamaño: " + mascota.tamano}}</p>
    <p>{{"Sexo: " + mascota.sexo}}</p>
    <div style="display: flex;">
        <button [routerLink]="['/mascotas/formMascota', mascota.usuario_id, mascota.id]" class="button button-blue" value="editar">Editar</button>
        <button (click)="onDelete(mascota)" class="button button-red" value="borrar">Borrar</button>
    </div>
</div>