<div class="mascota">
    <h1>{{mascota.nombre + " - " + ( this.fechaHoy.getFullYear() - this.fecha.getFullYear()) + " años"}}  </h1>
    <h2>{{mascota.raza}}</h2>
    <p>{{"Color: " + mascota.color}}</p>
    <p>{{"Tamaño: " + mascota.tamano}}</p>
    <p>{{"Sexo: " + mascota.sexo}}</p>
    <div style="display: flex;">
        <button [routerLink]="['/mascotas/formMascota', mascota.usuario_id, mascota.id]" class="button button-blue" value="editar">Editar</button>
        <button [routerLink]="['/mascotas/eliminarMascota', mascota.id]" class="button button-red" value="borrar">Borrar</button>
        <button [routerLink]="['/vacunas', mascota.id]" class="button button-purple" value="mascotas">Libreta</button>
    </div>
</div>