.div_formulario {
    width: 100%;
    height: calc(100vh - 144px);
    display: grid;
    justify-content: center;
}

form {
    margin-top: 10em;
    padding: 1em;
    width: 400px;
}

form h1 {
    text-align: center;
    font-family: 'Mulish', sans-serif;
    margin-bottom: .5em;
}

.form-control {
    margin-bottom: 1em;
}

.form-control input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #d1d1d1;
    font-size: 1rem;
} 

.form-control label {
    font-size: 2rem;
    margin-right: .5em;
}

.form-control label i {
    display: flex;
}

.button-green {
    background-color: #2ea44f;
    margin-top: 2em;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.15rem;
    font-weight: 600;
    padding: .75em 1.25em;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button-green:hover {
    background-color: #2c974b;
}