<h1 class="h1-delineado">{{this.edit ? 'Editar' : 'Agregar'}} Coordenada</h1>
<div class="centrar">
    <form *ngIf="true" [formGroup]="form">
        <h1>Cargue los datos</h1>
        <div class="map-container" id="visitanos">
            <div class="map-frame">
                <div id="map"></div>
            </div>
        </div>
        <div class="dataAPI">
            <h3>Direccion de la ubicación:</h3>
            <p>{{this.direccion}}</p>
        </div>
        <div *ngIf="CoordenadaX?.errors && CoordenadaX?.touched" class="error">
            <p *ngIf="CoordenadaX?.hasError('required')">
                Por favor ingresa una direccion
            </p>
        </div>
        <div class="form-column">
            <div class="form-control">
                <label for="titulo">Titulo:</label>
                <input type="text" name="titulo" placeholder="Agregar titulo" formControlName="titulo">
                <div *ngIf="Titulo?.errors && Titulo?.touched" class="error">
                    <p *ngIf="Titulo?.hasError('required')">
                        El titulo es requerido
                    </p>
                </div>
            </div>
            <div class="form-control">
                <label for="parrafo">Disponibilidad:</label>
                <input type="text" name="parrafo" placeholder="Agregar parrafo" formControlName="parrafo">
                <div *ngIf="Parrafo?.errors && Parrafo?.touched" class="error">
                    <p *ngIf="Parrafo?.hasError('required')">
                        La disponibilidad es requerida
                    </p>
                </div>
            </div>
        </div>
        <div class="form-buttons">
            <input *ngIf="!this.edit" class="button button-green" type="submit" value="Agregar" (click)="onAdd()">
            <input *ngIf="this.edit" class="button button-green" type="submit" value="Editar" (click)="onEdit()">
            <input [routerLink]="'/'" fragment="visitanos" class="button button-red" type="submit" value="Cancelar">
        </div>
    </form>
</div>