<div class="usuario">
    <h1>{{usuario.nombre + " " + usuario.apellido}} </h1>
    <h2>{{usuario.DNI}}</h2>
    <p><i class='bx bx-mail-send' ></i> {{usuario.email}}</p>
    <p><i class='bx bx-phone' ></i> {{usuario.telefono}}</p>
    <div style="display: flex;">
        <button [routerLink]="['/usuarios/formUsuarios', usuario.id]" class="button button-blue" value="editar">Editar</button>
        <button (click)="onDelete(usuario)" class="button button-red" value="borrar">Borrar</button>
        <button [routerLink]="['/mascotas', usuario.id]" class="button button-purple" value="mascotas">Mascotas</button>
    </div>
</div>
