<nav class="barra_navegacion">
    <a href="/" class="yoprogramo"><img src="../../../assets/img/Logo Veterinaria Crop.png" alt="Logo Veterinaria"></a>
    <a href="">Turnos</a>
    <div class="dropdown">
        <div class="dropdown-title">
            <a href="">Mascotas</a>
            <i class='bx bx-chevron-down'></i>
        </div>
        <ul class="dropdown-content" *ngIf="true" >
            <li>
                <i class='bx bxs-dog'></i>
                <div>
                    <p>Tus Mascotas</p>
                    <span>Consulta y modifica tus mascotas</span>
                </div>
            </li>
            <li>
                <i class='bx bx-gift'></i>
                <div>
                    <p>Adopcion de Mascotas</p>
                    <span>Descubre la mascota de tus sueños</span>
                </div>
            </li>
            <li>
                <i class='bx bxs-baby-carriage' ></i>
                <div>
                    <p>Cruza de Animales</p>
                    <span>Encuentra la pareja ideal de tu mascota</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="dropdown">
        <div class="dropdown-title">
            <a href="">Anuncios</a>
            <i class='bx bx-chevron-down'></i>
        </div>
        <ul class="dropdown-content" *ngIf="true" >
            <li>
                <i class='bx bxs-briefcase-alt' ></i>
                <div>
                    <a class="anuncios-link" routerLink="/anuncios" href="">Anuncios de Trabajo</a>
                    <span>Contrata a profesionales certificados</span>
                </div>
            </li>
            <li>
                <i class='bx bx-search-alt-2' ></i>
                <div>
                    <p>Busqueda de Mascotas</p>
                    <span>Descubre la mascota de tus sueños</span>
                </div>
            </li>
        </ul>
    </div>
    <a href="">Donaciones</a>
    <a routerLink="/usuarios" href="">Usuarios</a>
    <a class="push"><i class='bx bxs-user' ></i></a>
    <a routerLink="/login"><i class='bx bx-log-in' ></i></a>
</nav>
