.barra_navegacion {
    display: flex;
    align-items: center;
    padding: 2em 0em;
}

.barra_navegacion > * {
    margin-right: 1em;
    font-size: 24px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
}

.barra_navegacion a img{
    height: 64px;
}

.barra_navegacion i {
    color: #F1965B;
    font-size: 1.5em;
    align-self: center;
}

.barra_navegacion .push {
    margin-left: auto;
}

.barra_navegacion :last-child {
    margin-right: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-title {
    display: flex;
}

.dropdown-title i {
    font-size: 1.25em;
}
  
  
.dropdown-content {
    display: none;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    top: 35px;
    position: absolute;
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content li  {
   margin-bottom: 1em;
   display: flex;
}

.dropdown-content li div {
    margin-left: .5em;
    line-height: 1;
    font-size: 1.10rem;
}

.dropdown-content li div span {
    font-size: .85rem;
    color: #656d76;
    font-weight: 300;
}

.dropdown-content li  i {
    font-size: 2em;
}

.dropdown:hover .dropdown-content {
    display: block;
}