<nav class="barra_navegacion">
    <a href="/" class="yoprogramo"><img src="../../../assets/img/Logo Veterinaria Crop.png" alt="Logo Veterinaria"></a>
    <a routerLink="/turnos" href="">Turnos</a>
    <div class="dropdown">
        <div class="dropdown-title">
            <a href="">Mascotas</a>
            <i class='bx bx-chevron-down'></i>
        </div>
        <ul class="dropdown-content" *ngIf="true">
            <li>
                <i class='bx bxs-dog' routerLink="/adopciones" ></i>
                <div>
                    <a class="anuncios-link" routerLink="/adopciones" href="">Adopciones</a>
                    <span>Descubre la mascota de tus sueños</span>
                </div>
            </li>
            <li>
                <i class='bx bxs-baby-carriage'></i>
                <div>
                    <p>Cruza de Animales</p>
                    <span>Encuentra la pareja ideal de tu mascota</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="dropdown">
        <div class="dropdown-title">
            <a routerLink="/anuncios" href="">Anuncios</a>
            <i class='bx bx-chevron-down'></i>
        </div>
        <ul class="dropdown-content" *ngIf="true">
            <li>
                <i class='bx bxs-briefcase-alt' routerLink="/anuncios"></i>
                <div>
                    <a class="anuncios-link" routerLink="/anuncios" href="">Anuncios de Trabajo</a>
                    <span>Contrata a profesionales certificados</span>
                </div>
            </li>
            <li>
                <i class='bx bx-search-alt-2'></i>
                <div>
                    <p>Busqueda de Mascotas</p>
                    <span>Descubre la mascota de tus sueños</span>
                </div>
            </li>
        </ul>
    </div>
    <a href="">Donaciones</a>
    <a routerLink="/campanias" href="">Campañas</a>
    <a *ngIf="isAdmin" routerLink="/usuarios" href="">Usuarios</a>
    <p *ngIf="isAdmin" [ngClass]="{'push': isLogged}" >(Admin)</p>
    <a *ngIf="isLogged" [ngClass]="{'push': (isLogged && !isAdmin) }" routerLink="/informacion"><i class='bx bxs-user'></i></a>
    <a *ngIf="!isLogged" [ngClass]="{'push': !isLogged}" routerLink="/login"><i class='bx bx-log-in'></i></a>
    <a *ngIf="isLogged" (click)="tokenService.logOut()"><i class='bx bx-log-out'></i></a>
</nav>