<div class="eliminar_mascota" *ngIf="this.mascota">
    <h1 class="h1-delineado">Eliminar a {{this.mascota.nombre}}</h1>
    <h2>¿Estas seguro de eliminar a {{this.mascota.nombre}}?</h2>
    <h2 *ngIf="(mascota.adopcion) || ((mascota.turnos | filterTurnoEstado: 'Pendiente').length > 0)" ><b>Se eliminara:</b></h2>
    <div *ngIf="this.mascota.adopcion" class="eliminar_elemento">
        <h1>Adopcion</h1>
        <p>Titulo: {{this.mascota.adopcion.titulo}}</p>
        <p>Descripcion: {{this.mascota.adopcion.descripcion}}</p>
    </div>
    <div class="eliminar_elemento" *ngFor="let turno of this.mascota.turnos | filterTurnoEstado: 'Pendiente'">
        <h1>Turno</h1>
        <p>Motivo: {{turno.motivo}}</p>
        <p>Fecha: {{turno.fecha.toLocaleDateString()}}</p>
    </div>
    <h2 *ngIf="(mascota.turnos | filterTurnoEstado: 'Aceptado').length > 0"> <b>Se cancelarán los siguientes turnos:</b></h2>
    <div class="eliminar_elemento" *ngFor="let turno  of mascota.turnos | filterTurnoEstado: 'Aceptado'">
        <h1>Turno</h1>
        <p>Motivo: {{turno.motivo}}</p>
        <p>Fecha: {{turno.fecha.toLocaleDateString()}}</p>
        <p>Estado: {{turno.estado}}</p>
    </div>
    <div class="buttons">
        <input class="button button-green" type="submit" value="Si" (click)="onDelete(this.mascota)">
        <input [routerLink]="['/mascotas', this.mascota.usuario_id]" class="button button-red" type="submit" value="No">
    </div>
</div>