<div class="eliminar_usuario" *ngIf="this.usuario">
    <h1 class="h1-delineado">Eliminar a {{this.usuario.nombre}}</h1>
    <h2>¿Estas seguro de eliminar a {{this.usuario.nombre}}?</h2>
    <h2> <b>Se eliminara:</b></h2>
    <div *ngFor="let mascota of this.usuario.mascotas">
        <h1 class="titulo_mascota">La mascota <b>{{mascota.nombre}}</b></h1>
        <div *ngIf="mascota.adopcion" class="eliminar_elemento">
            <h1>Adopcion</h1>
            <p>Titulo: {{mascota.adopcion.titulo}}</p>
            <p>Descripcion: {{mascota.adopcion.descripcion}}</p>
        </div>
        <div class="eliminar_elemento" *ngFor="let turno of mascota.turnos | filterTurnoEstado: 'Pendiente' ">
            <h1>Turno</h1>
            <p>Motivo: {{turno.motivo}}</p>
            <p>Fecha: {{turno.fecha.toLocaleDateString()}}</p>
            <p>Estado: {{turno.estado}}</p>
        </div>
    </div>
    <h2> <b>Se cancelarán los siguientes turnos:</b></h2>
    <div *ngFor="let mascota of this.usuario.mascotas">
        <h1 *ngIf="mascota.turnos.length > 0" class="titulo_mascota">La mascota {{mascota.nombre}}</h1>
        <div class="eliminar_elemento" *ngFor="let turno  of mascota.turnos | filterTurnoEstado: 'Aceptado'">
            <h1>Turno</h1>
            <p>Motivo: {{turno.motivo}}</p>
            <p>Fecha: {{turno.fecha.toLocaleDateString()}}</p>
            <p>Estado: {{turno.estado}}</p>
        </div>
    </div>
    <div class="buttons">
        <input class="button button-green" type="submit" value="Si" (click)="onDelete(usuario)">
        <input [routerLink]="['/usuarios']" class="button button-red" type="submit"
            value="No">
    </div>
</div>