.perdido {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    min-width:  275px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.perdido .info {
    padding: .5em 1em 1em 1em;
    max-width: 400px;
    width: 100%;
}

.perro_info{
    padding-top: 10px;
    padding-bottom: 20px;
}

.button {
    font-size: 1em;
    padding: .25em .5em;
}

h1 {
    font-weight: 700;
    font-size: 1.75rem;
    margin-bottom: 8px;
}

h1 .borrar {
    margin-left: 0.25em;
    font-size: 1.25rem;
    color: red;
    cursor: pointer;
}

h2 {
    display: flex;
    font-weight: 1000;
    font-size: 1.25rem;
    margin-bottom: 8px;
    align-items: center;
    color: #2ea44f;
}

h2 i {
    margin-left: .25em;
}

.perdido p {
    margin: 0;
    font-size: 14px;
}
    
.p-bold {
    font-weight: bold;
}

.perdido img {
    width: 100%;
    max-width: 400px;
    height: 300px;
}