<div class="perdido">
    <img [src]="this.imageSource" [alt]="this.perdido.imagen.nombre">
    <div class="info">
        <h1>{{ perdido.titulo }} </h1>
        <p class="p-bold">{{perdido.descripcion}} </p>
        <h2 *ngIf="perdido.encontrado">Encontrado! <i class='bx bx-happy-beaming'></i></h2>
        <div class="perro_info">
            <p> Nombre: {{ perdido.nombre }}</p>
            <p> Raza: {{ perdido.raza }}</p>
            <p> Sexo: {{ perdido.sexo }}</p>
            <p> Color: {{ perdido.color }}</p>
            <p> Tamaño: {{ perdido.tamano }}</p>
        </div>
        <button *ngIf="!this.isLogged && !perdido.encontrado" class="button button-green" [routerLink]="['/perdido/formComunicarse', perdido.id]" value="perdidos">Comunicarse</button>
        <div style="display: flex;" *ngIf="this.mainUser">
            <button *ngIf="(this.mainUser.id != perdido.usuario_id) && this.isLogged && !isAdmin && !perdido.encontrado" class="button button-green" (click)="onComunicarseRegistrado(perdido.email)" value="perdidos">Comunicarse</button>
            <button [routerLink]="['/perdidos/formPerdidos', perdido.id]" *ngIf="isLogged && (this.mainUser.id == perdido.usuario_id) && !perdido.encontrado" class="button button-blue" value="editar">Editar</button>
            <button (click)="onDelete(perdido)" *ngIf="isLogged && !isAdmin && (this.mainUser.id == perdido.usuario_id)" class="button button-red" value="borrar">Borrar</button>
        </div>
    </div>
</div>