.turno {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding: 1em;
    min-width: 275px;
}

.button {
    font-size: 1em;
    padding: .25em .5em;
}

h1 {
    font-weight: 1000;
    font-size: 1.75rem;
    margin-bottom: 4px;
}

h2 {
    font-size: 1.50rem;
    margin-bottom: 2px;
    font-weight: 700;
}
h3 {
    font-weight: 300;
    font-size: 1.25rem;
    margin-bottom: 2px;
}