<div class="turno">
    <h1>{{this.fecha | date:'dd/MM/yyyy' }}</h1>
    <h2>{{turno.horario}}</h2>
    <h2>{{turno.motivo}}</h2>
    <p>{{turno.estado}}</p>
    <div style="display: flex;">
        <button *ngIf="isAdmin && turno.estado=='Pendiente'" [routerLink]="['/turnos/formTurnos', turno.usuario_id, turno.id]"
            class="button button-blue" value="editar">Editar</button>
        <button *ngIf="(isAdmin && turno.estado=='Pendiente') || (!isAdmin && turno.estado == 'Modificado')" (click)="onAccept(turno)" class="button button-green"
            value="aceptar">Aceptar</button>
        <button *ngIf="(isAdmin && turno.estado=='Pendiente') || (!isAdmin && turno.estado == 'Modificado')" (click)="onReject(turno)" class="button button-red"
            value="rechazar">Rechazar</button>
        <button *ngIf="turno.estado=='Aceptado' && isAdmin" (click)="confirmarAsistencia(turno, 'Asistió')" class="button button-green"
            value="aceptar">Asistió</button>
        <button *ngIf="turno.estado=='Aceptado' && isAdmin" (click)="confirmarAsistencia(turno, 'No asistió')" class="button button-red"
            value="aceptar">No asistió</button>
    </div>
</div>