h3 {
  margin-top: 0.25em;
  font-size: 1.25em;
}

.h2-donaciones{
    padding-top: 20px;
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    font-size: 2em;
    color: #75B5C7;
}

.subtitulo_donacion {
  margin-top: 1em;
}

.campania {
  margin-top: 1em;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  padding: 1em;
  min-width: 275px;
  max-width: 100%;
  box-sizing: border-box;
  inline-size: fit-content;
}

.button {
  font-size: 1.25em;
  padding: 0.35em .75em;
}

.campania h1 {
  font-weight: 700;
  font-size: 1.75rem;
  margin-bottom: 0.25em;
}

.campania h1 .borrar {
  margin-left: 0.25em;
  font-size: 1.25rem;
  color: red;
  cursor: pointer;
}

.campania p {
  margin: 5px 0;
  font-size: 17px;
}

.campania p:last-of-type {
  padding-bottom: 10px;
  padding-top: 10px;
  max-width: 500px;
  width: 100%;
  overflow-wrap: break-word;
}
