h1 {
  text-align: center;
  margin-bottom: .5em;
  font-weight: 1000;
}

.map-container {
  height: 500px;
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}

.button-map {
 margin: 0 1em 0 calc(100% - 239.717px - 1em);
}